/* 
    Created on : Dec 19, 2017, 3:56:33 AM
    Author     : oscar
*/
html{
	margin:0;
	padding:0;
	height:100%;
	background-color: #fff;
}
body{
	margin:0;
	padding: 0;
	height:100%;
  display: flex;  
	flex-flow: column;
}
video{
	width: 100%;
	flex: 0 0 auto;
	background-color: #000;
}
ul{
  flex: 0 0 auto;
  display: block;
	width: 100%;
	background: #f1501b url(barra_sernatur.png) no-repeat 50% 0;
	padding:0;
	margin:0;
	font-family: sans-serif;
	font-size: 100%;
	text-transform: uppercase;
	font-weight: bold;
	text-indent: 0;
}
ul li{
	display:block;
	text-align: center;
	margin:0;
	padding: 2px 0 0 0;
	height:100px;
}
ul li:first-child{
	float:left;
  border-radius: 0 15px 15px 0;
  background-color: orange;
	padding:0 .5em;
	width: 4em;
}
ul li:nth-child(2){
	float:right;
    border-radius: 15px 0 0 15px;
    background-color: orange;
	padding:0 0 0 .5em;
	width: 4em;
}
ul li a{
	display: block;
	margin: 0 auto;
	padding:0;
	color: #fff;
	text-align: center;
	text-decoration:none;
	text-indent: 0;
	width: 445px;
	height: 100px;
}
ul li a:hover,ul li a:active{
	color:yellow;
	text-decoration: none;
}
ul li:first-child a{
	width: 100px;
	height:4em;
		transform: rotate(270deg);
		margin: 22px 0 0 -20px;
}
ul li:nth-child(2) a{
	width: 100px;
	height:4em;
		transform: rotate(270deg);
		margin: 22px 0 0 -20px;
}
ul li a img{
	height: 100px;
}
iframe{
	width: 100%;
  flex: 1 0 auto;
	border:0;
}
